<br />
<p class="text-center">
   Made with &#9829; for <a target="_blank" href="https://github.com/Cafergut">Carlos</a>
  &
  <a target="_blank" href="https://github.com/wimel">Wimel</a> 	&#174;
</p>
<div class="text-center">
  <img src="https://media.giphy.com/media/26gscNQHswYio5RBu/giphy.gif" alt="Limpiador" style="width:480px;height:480px;">
</div>
<p class="text-center">
  Donations ar<span class="basic-font">Ξ</span> w<span class="basic-font">Ξ</span>lcom<span class="basic-font">Ξ</span>:
  <p class="text-center">
    0x3BE41c8FC6307f07e4E03928cD44405A032589FE
  </p>
</p>
<div class="text-center">
  <img src="/images/ETH.jpg"/>
</div>
<%= link_to "Contacto", contacto_path, class: "btn btn-success btn-block" %>
