<br />
<p>
   Made with &#9829; for <a target="_blank" href="https://github.com/Cafergut">Carlos</a>
  &
  <a target="_blank" href="https://github.com/wimel">Wimel</a> 	&#174;
</p>
<!--
<div style="position: fixed; bottom: Xpx; right: Ypx;">
    <img src="https://giphy.com/gifs/26gscNQHswYio5RBu/html5" alt="COCODRILOOOOOOOOO"/>
</div>
-->
<div>
  <img src="https://media.giphy.com/media/26gscNQHswYio5RBu/giphy.gif" alt="Computer Man" style="width:480px;height:480px;">
</div>
