<h1>CleanTech</h1>
<p>Ensucia, nosotros limpiamos</p>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
</ol>
<div class="carousel-inner">
  <div class="carousel-item active">
    <img class="d-block w-100" src="http://limpiezasmaiz.es/wp-content/uploads/2015/06/limpieza.jpg" alt="First slide">
  </div>
  <div class="carousel-item">
    <img class="d-block w-100" src="http://herafs.com/wp-content/uploads/2016/04/empresas-de-limpieza-en-madrid-suelos.jpg" alt="Second slide">
  </div>
  <div class="carousel-item">
    <img class="d-block w-100" src="https://s14-eu5.startpage.com/cgi-bin/serveimage?url=https%3A%2F%2Fwww.diario4v.com%2Fu%2Ffotografias%2Ffotosnoticias%2F2017%2F12%2F15%2F22439.jpg&sp=fe15c0fd2b0cc43d0fdb5dfd77851d9b" alt="Third slide">
  </div>
</div>
<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Anterior</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Siguiente</span>
</a>
</div>

<div>
  <p>
    <h1>
      Empresa Andaluza dedicada a la limpieza, dejamos las cosas como a usted le
      gustaría dejarlas, tenemos personal junior que se adapta a sus necesidades.
    </h1>
  </p>
  <p>
    Pida <a><%= link_to "presupuesto", new_budget_path %></a> sin compromiso, atendemos en toda Andalucía.
  </p>
</div>
